%project {
  @extend %section !optional;
  position: relative;
  z-index: 10;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  padding: 80px calc(70% - 80px) 80px 80px;
}

.projectIcon {
  order: -2;
  width: 130px;
  height: 130px;
  margin: 0 2rem 0 0;
}