.DS_Store
.DS_Store?
._*
._*.*
.Spotlight-V100
.Trashes
Desktop.ini
ehthumbs.db
Thumbs.db
npm-debug.log
package-lock.json

.vscode
.idea
.settings
.classpath
.project

node_modules
/build
/.svelte-kit
/package
# /static/**/play

.env
.env.*
!.env.example
.sass-cache
.tmp
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
