// White

$txgl-white-900: #fff;

$txgl-white: $txgl-white-900;

// Black

$txgl-black-500: #1b2029;
$txgl-black-900: #000;

$txgl-black: $txgl-black-500;

// Gray

$txgl-gray-800: #29333e;
$txgl-gray-900: #29303e;

$txgl-gray: $txgl-gray-900;

// Red

$txgl-red-500: #f05e55;
$txgl-red-700: #e3405e;

$txgl-red: $txgl-red-500;

// Green

$txgl-green-500: #22d674;
$txgl-green-700: #00b68a;

$txgl-green: $txgl-green-500;

// Blue

$txgl-blue-200: #222c3d;
$txgl-blue-500: #6badeb;

$txgl-blue: $txgl-blue-500;
