@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/nunito-semibold.woff2") format("woff2"), url("/fonts/Nunito/nunito-semibold.woff") format("woff"), url("/fonts/Nunito/nunito-semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/nunito-semibolditalic.woff2") format("woff2"), url("/fonts/Nunito/nunito-semibolditalic.woff") format("woff"), url("/fonts/Nunito/nunito-semibolditalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/nunito-black.woff2") format("woff2"), url("/fonts/Nunito/nunito-black.woff") format("woff"), url("/fonts/Nunito/nunito-black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/nunito-blackitalic.woff2") format("woff2"), url("/fonts/Nunito/nunito-blackitalic.woff") format("woff"), url("/fonts/Nunito/nunito-blackitalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
