.navigation {
  display: flex;
  gap: 0.5em;
  font-weight: bold;
  text-transform: uppercase;
  transform-origin: 50% 0;
  transition: transform 0.25s ease-in-out;

  %window-is-scrolled & {
    transform: translateY(-0.5em) scale(0.75);
  }
}

.navigationLink {
  position: relative;
  display: block;
  padding: 0.75em;
  color: #4481fa;
  text-decoration: none;

  &::before {
    position: absolute;
    content: '';
    right: 0.75em;
    bottom: 0.5em;
    left: 0.75em;
    display: block;
    height: 4px;
    border-radius: 2px;
    background: #ffce4f;
    transition: all 0.15s ease-in-out;
    pointer-events: none;
  }

  &:target,
  &:hover,
  &-is-active {
    &::before {
      opacity: 0;
      transform: translateY(0.375em);
    }
  }
}