.footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 0 $txgl-gap;
  color: #1f499a;
  background: #fff;
  font-size: 0.8rem;

  & %link {
    color: #1f499a;
  }

  @include txmx-media('phone') {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 15px $txgl-gap-small;
  }
}