.support {
  @extend %section !optional;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75vw;
  max-width: 40rem;
  font-size: 1.5rem;

  @include txmx-media('phone') {
    width: auto;
    max-width: none;
    min-height: 0;
    padding: 2rem $txgl-gap-small;
    font-size: 1rem;
    
    &:first-child {
      flex-grow: 1;
    }
  }
}