.platform {
  width: 100%;
  margin: 2em 0 0;

  %device-android &-appStore {
      display: none;
    }
  
  %device-ios &-googlePlay {
    display: none;
  }
}

.platformLink {
  position: relative;
  display: block;
  overflow: hidden;
  width: 282px;
  height: 0;
  background-size: contain;

  &-appStore {
    padding: 94px 0 0;
    background-image: url('/images/appStore.png');
    background-image: url('/images/appStore.webp');
  }

  &-googlePlay {
    padding: 84px 0 0;
    background-image: url('/images/googlePlay.png');
    background-image: url('/images/googlePlay.webp');
  }
}

.platformLegal {
  font-size: 0.85em;
  padding: 0;
  margin: 1em 0 0 1.5em;
  white-space: nowrap;

  li {
    margin: 0.75em 0;
  }
}