.platform {
  width: 100%;
  margin: 2em 0 0;

  %device-android &-appStore {
      display: none;
    }
  
  %device-ios &-googlePlay {
    display: none;
  }
}

.platformLink {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 282px;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0;
  text-indent: -10000px;

  &::after {
    content: '';
    display: block;
    width: 100%;
  }

  &-appStore {
    background-image: url('/images/appStore.png');
    background-image: url('/images/appStore.webp');

    &::after {
      padding: 33.33% 0 0;
    }

    %device-android & {
      display: none;
    }
  }

  &-googlePlay {
    background-image: url('/images/googlePlay.png');
    background-image: url('/images/googlePlay.webp');

    &::after {
      padding: 30% 0 0;
    }

    %device-ios & {
      display: none;
    }
  }
}

.platformLegal {
  font-size: 0.85em;
  padding: 0;
  margin: 1em 0 0 1.5em;
  white-space: nowrap;

  li {
    margin: 0.75em 0;
  }
}